* { box-sizing: border-box; }

body {
    font: 400 16px/1.4 var(--font-family__main);
}

/* ============================================ */
/* Buttons */

.button {
    color: var(--text-color__light);
    text-decoration: none;
    letter-spacing: 1px;

    transition: var(--common-animation);
    cursor: pointer;
}

.button:hover {
    color: var(--text-color__hover);
}

._gradient {
    padding: 20px 30px;
    
    background-image: var(--background__image);
    border-radius: 10px;
    border: none;
    text-transform: lowercase;
}

._submit {
    padding: 10px 15px;
    background-color: var(--text-color__title);
}

._transparent {
    padding: 15px 30px;
    
    background-color: transparent;
    border: 2px solid var(--text-color__light);
}

._transparent:hover {
    border-color: var(--text-color__hover);
}
/* =========================================== */
/* Input */
input {
    background-color: var(--text-color__hover);
    border-radius: 10px;
}

/* =========================================== */
/* Icons */
.icon {position: relative;}
.icon:before {font-family: var(--font-family__icon);}

._toggle-menu:before {content: var(--icon-menu); }
._location:before {content: var(--icon-location); }
._facebook:before {content: var(--icon-facebook); }
._twitter:before {content: var(--icon-twitter); }
._instagram:before {content: var(--icon-instagram); }
._youtube:before {content: var(--icon-youtube); }
._linkedin:before {content: var(--icon-linkedin); }
._google:before {content: var(--icon-google); }
._earth:before {content: var(--icon-earth); }
._map:before {content: var(--icon-map); }

/* ==================================================== */
.box {
    width: 100%;
    max-width: var(--layout__width);
    margin: 0 auto;
    padding: 20px 30px;
}
