@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@font-face {
    font-family: "Icon Font";
    font-style: normal;
    font-weight: 400;
    src:  url("../font/icon.woff") format("woff"),
        url("../font/icon-2.woff2") format("woff2");
    font-display: swap;
}
