.catalog .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.catalog .wrapper .swing {
    grid-column: 1/3;
    max-height: 300px;
    object-fit: cover;
    object-position: center 20%;
}

.catalog .half-image {
    max-height: 250px;
    object-fit: cover;
}

.catalog .group {
    height: 100%;
}

.catalog .wrapper .icon {
    font-size: 40px;
}

.catalog .item {
    padding: 15px 0;
    font-size: 25px;
}
